{% extends 'base.html'%} {% block content%}

<div class="card mb-3">
    <h3 class="card-header pt-4">About Me</h3>
    <div class="card-body">
        <h5 class="card-title">Mr. Tango Django</h5>
        <h6 class="card-subtitle text-muted">Python Django Consultant and Expert</h6>
    </div>
    <img style="height: 150px; width: 60%; display: block;" src="https://www.publicdomainpictures.net/pictures/270000/velka/avatar-people-person-business-.jpg" alt="Card image">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>

</div>

{% endblock%}